*{
    font-family: 'Times New Roman', Arial, sans-serif;
    background-color: silver;
}

.recipeTitle {
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Arial, sans-serif;
}

img {
    height: auto;
    width: 500px;
}

.recipeLink {
    font-size: 20px;
}

#ingredientsSubTitle,
#directionsSubTitle {
    color: brown;
}